body {
    background-color: #f4f4f4; /* Fondo */
    font-family: 'Roboto', sans-serif; /* Tipografía */
}

.navbar-brand {
    color: #2e86c1; /* Azul */
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #2e86c1; /* Azul */
}

.btn-primary {
    background-color: #2e86c1; /* Azul */
    border-color: #2e86c1; /* Azul */
}

.btn-primary:hover {
    background-color: #c12e2e; /* Complementario rojo */
    border-color: #c12e2e; /* Complementario rojo */
}
